<div class="AlarmapiWidget-button-container">
  {{#each buttons}}
    <button class="AlarmapiWidget-button" type="button" data-slot="{{ name }}">
      {{ displayName }}
    </button>
  {{/each}}
</div>