{{!this is the template for AlarmapiWidget.}}
{{!it expects an array of strings and assembles them into buttons.}}

<div class="AlarmapiWidget">
  <div class="AlarmapiWidget-header">
    <p>
      {{ titleText }}
    </p>
    <p>
      <span class="AlarmapiWidget-selected-slot-text">{{ selectedSlotText }}</span>
      <span class="AlarmapiWidget-selected-slot"></span>
    </p>
  </div>
  <div class="AlarmapiWidget-content"></div>
</div>